<div>
  <div style="max-width: 768px; margin:auto;">
    <div>Bonjour M/Mme {{employee.LASTNAME}} {{employee.FIRSTNAME}}</div>
    <div>Votre requête numéro {{request.REQUEST_ID}} a fait l'objet d'une décision.</div>
    <div>Veuillez-vous connecter à votre compte sur <a href="https://galio.myiuc.com">Galio</a>, au menu Récentes Activités, dans l'onglet Vos Requêtes.</div>
    <br>
    <div>En cas de question, écrivez-nous à l'adresse <a href="mailto:numerique.educatif@myiuc.com ">numerique.educatif@myiuc.com </a></div>
    <br>
    Cordialement
  </div>
  <br>
  <hr>
  <br>
  <div style="max-width: 768px; margin:auto;">
    <div>Hello Mr./Ms. {{employee.LASTNAME}} {{employee.FIRSTNAME}}</div>
    <div>Your request number {{request.REQUEST_ID}} has been decided.</div>
    <div>Please log in to your account on <a href="https://galio.myiuc.com">Galio</a>, to the Recent Activities menu, in the Your Requests tab, to see the response to the request and any corresponding details.</div>
    <br>
    <div>If you have any questions, please write to us at <a href="mailto:numerique.educatif@myiuc.com ">numerique.educatif@myiuc.com </a></div>
    <br>
    Sincerely
  </div>
</div>
