<div>
  <div style="max-width: 768px; margin:auto;">
    <p>
    <h2>OBJECT: {{OBJECT}}</h2>
    <h3>NAME: {{FULLNAME}}</h3>
    <h3>EMAIL: {{EMAIL}}</h3>
    <h3>EMPLOYEE_ID: {{EMPLOYEE_ID}}</h3>
    <h3>PHONE: {{NUMPHONE}}</h3>
    <div>
      {{MESSAGE}}
    </div>
    </p>
  </div>
</div>
